USE [DMCheckSheet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckResults]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[FormNO] [nvarchar](255) NULL,
	[SheetName] [nvarchar](1000) NULL,
	[DeviceCode] [nvarchar](255) NULL,
	[DeviceName] [nvarchar](1000) NULL,
	[Frequency] [int] NOT NULL,
	[Location] [nvarchar](1000) NULL,
	[Value] [nvarchar](255) NULL,
	[CheckedDate] [datetime2](7) NOT NULL,
	[CheckedBy] [nvarchar](255) NULL,
	[ConfirmedBy] [nvarchar](255) NULL,
	[ApprovedBy] [nvarchar](255) NULL,
	[Note] [nvarchar](1000) NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[ItemId] [int] NOT NULL,
	[SheetCode] [nvarchar](max) NULL,
	[IsConfirmNG] [bit] NOT NULL,
	[ConfirmedMonthBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_CheckResults] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckSheetDevices]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckSheetDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CheckSheetId] [int] NOT NULL,
	[DeviceId] [int] NOT NULL,
 CONSTRAINT [PK_CheckSheetDevices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckSheetItemMST]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckSheetItemMST](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[SheetId] [int] NOT NULL,
	[IsRequire] [bit] NOT NULL,
	[DataType] [nvarchar](100) NULL,
	[CreateAt] [datetime2](7) NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[OrderNumber] [int] NULL,
	[ParentId] [int] NULL,
	[CancelFlag] [bit] NOT NULL,
 CONSTRAINT [PK_CheckSheetItemMST] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckSheetMST]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckSheetMST](
	[SheetId] [int] IDENTITY(1,1) NOT NULL,
	[FormNO] [nvarchar](255) NOT NULL,
	[SheetName] [nvarchar](1000) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](200) NULL,
	[CancelFlag] [bit] NOT NULL,
	[SheetCode] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CheckSheetMST] PRIMARY KEY CLUSTERED 
(
	[SheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceMST]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceMST](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceCode] [nvarchar](255) NOT NULL,
	[DeviceName] [nvarchar](500) NOT NULL,
	[Location] [nvarchar](500) NOT NULL,
	[Frequency] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](200) NULL,
	[CancelFlag] [bit] NOT NULL,
	[IsConfirm] [bit] NOT NULL,
 CONSTRAINT [PK_DeviceMST] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultActions]    Script Date: 09/05/2025 4:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultActions](
	[ActionId] [int] IDENTITY(1,1) NOT NULL,
	[ResultId] [int] NOT NULL,
	[ActionTaken] [nvarchar](500) NULL,
	[ActionDate] [datetime2](7) NULL,
	[ConfirmedBy] [nvarchar](255) NULL,
	[ConfirmedDate] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_ResultActions] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250320071244_InitialCreate', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250320071833_Add table', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250322010233_Add CancelFlag Properties', N'9.0.2')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'097f7879-2b76-42df-83de-38a9fd3ac374', N'Checker', N'CHECKER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'46299873-cec0-427d-b298-2dbd44b3998a', N'Approver', N'APPROVER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'50dee63d-b7d8-420c-8496-f41e10863762', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'291a82ec-fa14-4682-90d5-f0994dd14747', N'097f7879-2b76-42df-83de-38a9fd3ac374')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5449bb79-c4b5-4977-984f-bd9298f62950', N'46299873-cec0-427d-b298-2dbd44b3998a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'537ffb4d-ef7a-4e5a-bd80-2023720bf347', N'50dee63d-b7d8-420c-8496-f41e10863762')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount], [FullName]) VALUES (N'291a82ec-fa14-4682-90d5-f0994dd14747', N'checker', N'CHECKER', NULL, NULL, 0, N'AQAAAAIAAYagAAAAEHrMBx80z42JVEgRCNPQwVobgblTERjvbmXcUeFZKrjzbSQbWy+FyQPVwDAeHX4gVA==', N'VMUWQZCZ6LEINNEAQRJRBQXNNSFGYJJC', N'd528c499-41ac-481e-8aac-6540c1107b23', NULL, 0, 0, NULL, 1, 0, N'Đặng Checker')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount], [FullName]) VALUES (N'537ffb4d-ef7a-4e5a-bd80-2023720bf347', N'24182', N'24182', NULL, NULL, 0, N'AQAAAAIAAYagAAAAEP8nDy+V8mDKamCVKPP57pA45TMQlOQvaJZ9KH67hZKCY89J+wFQOVdilchRU6GHpQ==', N'VRCGQVKKKFNJTHWQRWBHHEDF27JDN35H', N'85ed9257-ba4a-496a-a46a-294bdea08c39', NULL, 0, 0, NULL, 1, 0, N'Hiệp Đặng Đức')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount], [FullName]) VALUES (N'5449bb79-c4b5-4977-984f-bd9298f62950', N'approver', N'APPROVER', NULL, NULL, 0, N'AQAAAAIAAYagAAAAEPFBZROG9xnhx39WCEB1HBNHar81wdz46fQk2eKikET5GqJu4JcUdOCHFrnq2K+Vlw==', N'LBDW4YKOEMULOQIUEJLGZAZ7SHDN4DOK', N'972390ab-0e3d-4fb4-a99c-4eb2d7a4d13a', NULL, 0, 0, NULL, 1, 0, N'Đặng Approver')
GO
SET IDENTITY_INSERT [dbo].[CheckResults] ON 

INSERT [dbo].[CheckResults] ([ResultId], [FormNO], [SheetName], [DeviceCode], [DeviceName], [Frequency], [Location], [Value], [CheckedDate], [CheckedBy], [ConfirmedBy], [ApprovedBy], [Note], [UpdateAt], [UpdateBy], [ItemId], [SheetCode], [IsConfirmNG], [ConfirmedMonthBy]) VALUES (1220, N'F01', N'CHECK SHEET HÀNG NGÀY SÚNG XIẾT/ THÁO ỐC', N'DV01', N'SÚNG XIẾT/THÁO ỐC 01', 1, N'DM', N'', CAST(N'2025-05-07T03:09:55.4320000' AS DateTime2), N'24182', NULL, N'approver', N'', CAST(N'2025-05-07T10:09:55.4493284' AS DateTime2), NULL, 65, N'CS01', 0, N'confirmermonth')
INSERT [dbo].[CheckResults] ([ResultId], [FormNO], [SheetName], [DeviceCode], [DeviceName], [Frequency], [Location], [Value], [CheckedDate], [CheckedBy], [ConfirmedBy], [ApprovedBy], [Note], [UpdateAt], [UpdateBy], [ItemId], [SheetCode], [IsConfirmNG], [ConfirmedMonthBy]) VALUES (1221, N'F01', N'CHECK SHEET HÀNG NGÀY SÚNG XIẾT/ THÁO ỐC', N'DV01', N'SÚNG XIẾT/THÁO ỐC 01', 1, N'DM', N'OK', CAST(N'2025-05-07T03:09:55.4320000' AS DateTime2), N'24182', NULL, NULL, N'', CAST(N'2025-05-07T11:10:51.9138218' AS DateTime2), N'24182', 66, N'CS01', 0, NULL)
INSERT [dbo].[CheckResults] ([ResultId], [FormNO], [SheetName], [DeviceCode], [DeviceName], [Frequency], [Location], [Value], [CheckedDate], [CheckedBy], [ConfirmedBy], [ApprovedBy], [Note], [UpdateAt], [UpdateBy], [ItemId], [SheetCode], [IsConfirmNG], [ConfirmedMonthBy]) VALUES (1222, N'F01', N'CHECK SHEET HÀNG NGÀY SÚNG XIẾT/ THÁO ỐC', N'DV01', N'SÚNG XIẾT/THÁO ỐC 01', 1, N'DM', N'', CAST(N'2025-05-07T03:09:55.4320000' AS DateTime2), N'24182', NULL, NULL, N'', CAST(N'2025-05-07T10:09:55.4493306' AS DateTime2), NULL, 67, N'CS01', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CheckResults] OFF
GO
SET IDENTITY_INSERT [dbo].[CheckSheetDevices] ON 

INSERT [dbo].[CheckSheetDevices] ([Id], [CheckSheetId], [DeviceId]) VALUES (1, 12, 19)
INSERT [dbo].[CheckSheetDevices] ([Id], [CheckSheetId], [DeviceId]) VALUES (2, 12, 20)
INSERT [dbo].[CheckSheetDevices] ([Id], [CheckSheetId], [DeviceId]) VALUES (3, 12, 21)
SET IDENTITY_INSERT [dbo].[CheckSheetDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[CheckSheetItemMST] ON 

INSERT [dbo].[CheckSheetItemMST] ([ItemId], [SheetId], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [Content], [OrderNumber], [ParentId], [CancelFlag]) VALUES (65, 12, 1, NULL, CAST(N'2025-05-07T09:59:19.2687507' AS DateTime2), N'', CAST(N'2025-05-07T09:59:19.2687513' AS DateTime2), NULL, N'Ngoại quan súng', 1, NULL, 0)
INSERT [dbo].[CheckSheetItemMST] ([ItemId], [SheetId], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [Content], [OrderNumber], [ParentId], [CancelFlag]) VALUES (66, 12, 1, N'BOOLEAN', CAST(N'2025-05-07T09:59:33.6081429' AS DateTime2), N'Admin', CAST(N'2025-05-07T09:59:33.6081434' AS DateTime2), NULL, N'Súng có bị vỡ, mẻ, nứt… không?', 2, 65, 0)
INSERT [dbo].[CheckSheetItemMST] ([ItemId], [SheetId], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [Content], [OrderNumber], [ParentId], [CancelFlag]) VALUES (67, 12, 1, NULL, CAST(N'2025-05-07T09:59:49.7359021' AS DateTime2), N'', CAST(N'2025-05-07T10:00:11.9587006' AS DateTime2), N'', N'Các nút chức năng', 3, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[CheckSheetItemMST] OFF
GO
SET IDENTITY_INSERT [dbo].[CheckSheetMST] ON 

INSERT [dbo].[CheckSheetMST] ([SheetId], [FormNO], [SheetName], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [SheetCode]) VALUES (12, N'F01', N'CHECK SHEET HÀNG NGÀY SÚNG XIẾT/ THÁO ỐC', CAST(N'2025-05-07T09:14:20.5360347' AS DateTime2), NULL, CAST(N'2025-05-07T09:14:20.5360350' AS DateTime2), NULL, 0, N'CS01')
INSERT [dbo].[CheckSheetMST] ([SheetId], [FormNO], [SheetName], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [SheetCode]) VALUES (13, N'F02', N'CHECK SHEET HÀNG NGÀY MÁY KHẮC, RUNG CÓ MÀN HÌNH ĐIỆN TỬ', CAST(N'2025-05-07T09:15:07.6694306' AS DateTime2), NULL, CAST(N'2025-05-07T09:15:07.6694309' AS DateTime2), NULL, 0, N'CS02')
INSERT [dbo].[CheckSheetMST] ([SheetId], [FormNO], [SheetName], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [SheetCode]) VALUES (14, N'F03', N'CHECK SHEET HÀNG NGÀY  MÁY MÀI PHẲNG ', CAST(N'2025-05-07T09:15:21.0595943' AS DateTime2), NULL, CAST(N'2025-05-07T09:15:21.0595949' AS DateTime2), NULL, 0, N'CS03')
SET IDENTITY_INSERT [dbo].[CheckSheetMST] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceMST] ON 

INSERT [dbo].[DeviceMST] ([DeviceId], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [IsConfirm]) VALUES (19, N'DV01', N'SÚNG XIẾT/THÁO ỐC - 01', N'Bàn số 01', 1, CAST(N'2025-05-07T08:57:51.5084568' AS DateTime2), NULL, CAST(N'2025-05-07T08:57:51.5084575' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[DeviceMST] ([DeviceId], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [IsConfirm]) VALUES (20, N'DV02', N'SÚNG XIẾT/THÁO ỐC - 02', N'DM', 1, CAST(N'2025-05-07T08:58:30.5709089' AS DateTime2), NULL, CAST(N'2025-05-07T08:58:30.5709093' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[DeviceMST] ([DeviceId], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [CancelFlag], [IsConfirm]) VALUES (21, N'DV03', N'SÚNG XIẾT/THÁO ỐC - 03', N'DM', 1, CAST(N'2025-05-07T08:58:55.1537999' AS DateTime2), NULL, CAST(N'2025-05-07T08:58:55.1538003' AS DateTime2), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[DeviceMST] OFF
GO
SET IDENTITY_INSERT [dbo].[ResultActions] ON 

INSERT [dbo].[ResultActions] ([ActionId], [ResultId], [ActionTaken], [ActionDate], [ConfirmedBy], [ConfirmedDate], [Note]) VALUES (1, 1227, N'adadasd', CAST(N'2025-05-07T00:00:00.0000000' AS DateTime2), N'24182', CAST(N'2025-05-07T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ResultActions] ([ActionId], [ResultId], [ActionTaken], [ActionDate], [ConfirmedBy], [ConfirmedDate], [Note]) VALUES (2, 1261, N'test', CAST(N'2025-05-07T00:00:00.0000000' AS DateTime2), N'24182', CAST(N'2025-05-07T00:00:00.0000000' AS DateTime2), N'aaa')
INSERT [dbo].[ResultActions] ([ActionId], [ResultId], [ActionTaken], [ActionDate], [ConfirmedBy], [ConfirmedDate], [Note]) VALUES (3, 1323, N'àtewtsfsaf', CAST(N'2025-05-08T00:00:00.0000000' AS DateTime2), N'24182', CAST(N'2025-05-08T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ResultActions] OFF
GO
ALTER TABLE [dbo].[CheckResults] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdateAt]
GO
ALTER TABLE [dbo].[CheckResults] ADD  DEFAULT ((0)) FOR [ItemId]
GO
ALTER TABLE [dbo].[CheckResults] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsConfirmNG]
GO
ALTER TABLE [dbo].[CheckSheetItemMST] ADD  DEFAULT (N'') FOR [Content]
GO
ALTER TABLE [dbo].[CheckSheetItemMST] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CancelFlag]
GO
ALTER TABLE [dbo].[CheckSheetMST] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CancelFlag]
GO
ALTER TABLE [dbo].[CheckSheetMST] ADD  DEFAULT (N'') FOR [SheetCode]
GO
ALTER TABLE [dbo].[DeviceMST] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CancelFlag]
GO
ALTER TABLE [dbo].[DeviceMST] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CheckResults]  WITH CHECK ADD  CONSTRAINT [FK_CheckResults_CheckSheetItemMST_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[CheckSheetItemMST] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckResults] CHECK CONSTRAINT [FK_CheckResults_CheckSheetItemMST_ItemId]
GO
ALTER TABLE [dbo].[CheckSheetDevices]  WITH CHECK ADD  CONSTRAINT [FK_CheckSheetDevices_CheckSheetMST_CheckSheetId] FOREIGN KEY([CheckSheetId])
REFERENCES [dbo].[CheckSheetMST] ([SheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckSheetDevices] CHECK CONSTRAINT [FK_CheckSheetDevices_CheckSheetMST_CheckSheetId]
GO
ALTER TABLE [dbo].[CheckSheetDevices]  WITH CHECK ADD  CONSTRAINT [FK_CheckSheetDevices_DeviceMST_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[DeviceMST] ([DeviceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckSheetDevices] CHECK CONSTRAINT [FK_CheckSheetDevices_DeviceMST_DeviceId]
GO
ALTER TABLE [dbo].[CheckSheetItemMST]  WITH CHECK ADD  CONSTRAINT [FK_CheckSheetItemMST_CheckSheetMST_SheetId] FOREIGN KEY([SheetId])
REFERENCES [dbo].[CheckSheetMST] ([SheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckSheetItemMST] CHECK CONSTRAINT [FK_CheckSheetItemMST_CheckSheetMST_SheetId]
GO
ALTER TABLE [dbo].[ResultActions]  WITH CHECK ADD  CONSTRAINT [FK_ResultActions_CheckResults_ResultId] FOREIGN KEY([ResultId])
REFERENCES [dbo].[CheckResults] ([ResultId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResultActions] CHECK CONSTRAINT [FK_ResultActions_CheckResults_ResultId]
GO
