USE [DMCheckSheet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckDetail]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[CheckId] [int] NOT NULL,
	[BoolData] [bit] NULL,
	[NumData] [real] NULL,
	[StringData] [nvarchar](max) NULL,
	[Reason] [nvarchar](max) NULL,
	[Policy] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](200) NULL,
 CONSTRAINT [PK_CheckDetail] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckListItemMST]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckListItemMST](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[CheckTitle] [nvarchar](max) NULL,
	[CheckContext] [nvarchar](max) NULL,
	[IsRequire] [bit] NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](200) NULL,
 CONSTRAINT [PK_CheckListItemMST] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckRecord]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckRecord](
	[CheckId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[CheckBy] [nvarchar](200) NOT NULL,
	[CheckDate] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[ApproveBy] [nvarchar](max) NULL,
	[ComfirmBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_CheckRecord] PRIMARY KEY CLUSTERED 
(
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceMST]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceMST](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[FormNO] [nvarchar](300) NOT NULL,
	[DeviceCode] [nvarchar](100) NOT NULL,
	[DeviceName] [nvarchar](500) NOT NULL,
	[Location] [nvarchar](500) NOT NULL,
	[Frequency] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](200) NULL,
 CONSTRAINT [PK_DeviceMST] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTypeMST]    Script Date: 18/03/2025 7:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypeMST](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](500) NOT NULL,
	[TypeDesc] [nvarchar](max) NULL,
	[CheckSheetName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](200) NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](200) NULL,
 CONSTRAINT [PK_DeviceTypeMST] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250318083244_InitialCreate', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250318102741_Update table CheckRecord', N'9.0.2')
GO
SET IDENTITY_INSERT [dbo].[CheckListItemMST] ON 

INSERT [dbo].[CheckListItemMST] ([ItemId], [TypeId], [CheckTitle], [CheckContext], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (1, 1, N'Phanh xe', N'Phanh không bị cứng, khi phanh thì xe đứng lại, không di chuyển được,hoặc khi nhấn phanh thì xe không di chuyển', 1, N'Boolean', CAST(N'2025-03-18T09:24:01.2400000' AS DateTime2), N'Admin', CAST(N'2025-03-18T16:28:13.5360188' AS DateTime2), NULL)
INSERT [dbo].[CheckListItemMST] ([ItemId], [TypeId], [CheckTitle], [CheckContext], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (2, 1, N'Bánh xe', N'Đầy đủ bánh xe, không bị vỡ, kẹt. Vệ sinh bánh xe sạch sẽ, vệ sinh dây mắc vào (nếu có)', 1, N'Boolean', CAST(N'2025-03-18T09:24:01.2400000' AS DateTime2), N'Admin', CAST(N'2025-03-18T16:28:58.5887932' AS DateTime2), NULL)
INSERT [dbo].[CheckListItemMST] ([ItemId], [TypeId], [CheckTitle], [CheckContext], [IsRequire], [DataType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (3, 1, N'Khung xe (Thân xe và tay cầm)', N'Chắc chắn, không bị biến dạng, hỏng hóc, đầy đủ bulong,…', 1, N'Boolean', CAST(N'2025-03-18T09:24:01.2400000' AS DateTime2), N'Admin', CAST(N'2025-03-18T16:29:25.2784237' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CheckListItemMST] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceMST] ON 

INSERT [dbo].[DeviceMST] ([DeviceId], [TypeId], [FormNO], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (1, 1, N'DM-HC-01', N'DV01', N'Xe đẩy 01', N'F2-DM', 1, CAST(N'2025-03-18T09:04:01.3140000' AS DateTime2), N'Admin', CAST(N'2025-03-18T16:07:41.1473919' AS DateTime2), N'')
INSERT [dbo].[DeviceMST] ([DeviceId], [TypeId], [FormNO], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (2, 1, N'DM-HC-02', N'DV02', N'Xe đẩy 2', N'F2-DM', 1, CAST(N'2025-03-18T17:16:36.8541904' AS DateTime2), NULL, CAST(N'2025-03-18T17:16:36.8755537' AS DateTime2), NULL)
INSERT [dbo].[DeviceMST] ([DeviceId], [TypeId], [FormNO], [DeviceCode], [DeviceName], [Location], [Frequency], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (3, 1, N'DM-HC-03', N'DV03', N'Xe đẩy 3', N'F2-DM', 1, CAST(N'2025-03-18T17:18:04.4695914' AS DateTime2), NULL, CAST(N'2025-03-18T17:18:04.4704204' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[DeviceMST] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceTypeMST] ON 

INSERT [dbo].[DeviceTypeMST] ([TypeId], [TypeCode], [TypeName], [TypeDesc], [CheckSheetName], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (1, N'DT01', N'Xe đẩy', N'Check sheet cho các loại xe', N'CHECK SHEET FOR CART/BẢNG KIỂM TRA CHO XE VẬN CHUYỂN (XE ĐẨY, XE CHỞ THÙNG,...)', CAST(N'2025-03-18T08:59:40.5210000' AS DateTime2), N'Admin', CAST(N'2025-03-18T16:03:35.7551178' AS DateTime2), N'')
INSERT [dbo].[DeviceTypeMST] ([TypeId], [TypeCode], [TypeName], [TypeDesc], [CheckSheetName], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (2, N'DT02', N'Đá', N'Quản lý số lượng nhập xuất đá', N'CHECKSHEET QUẢN LÝ XUẤT - NHẬP ĐÁ CẮT', CAST(N'2025-03-18T10:23:15.5960000' AS DateTime2), NULL, CAST(N'2025-03-18T17:23:15.6306123' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[DeviceTypeMST] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CheckDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckDetail_CheckListItemMST_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[CheckListItemMST] ([ItemId])
GO
ALTER TABLE [dbo].[CheckDetail] CHECK CONSTRAINT [FK_CheckDetail_CheckListItemMST_ItemId]
GO
ALTER TABLE [dbo].[CheckDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckDetail_CheckRecord_CheckId] FOREIGN KEY([CheckId])
REFERENCES [dbo].[CheckRecord] ([CheckId])
GO
ALTER TABLE [dbo].[CheckDetail] CHECK CONSTRAINT [FK_CheckDetail_CheckRecord_CheckId]
GO
ALTER TABLE [dbo].[CheckListItemMST]  WITH CHECK ADD  CONSTRAINT [FK_CheckListItemMST_DeviceTypeMST_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[DeviceTypeMST] ([TypeId])
GO
ALTER TABLE [dbo].[CheckListItemMST] CHECK CONSTRAINT [FK_CheckListItemMST_DeviceTypeMST_TypeId]
GO
ALTER TABLE [dbo].[CheckRecord]  WITH CHECK ADD  CONSTRAINT [FK_CheckRecord_DeviceMST_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[DeviceMST] ([DeviceId])
GO
ALTER TABLE [dbo].[CheckRecord] CHECK CONSTRAINT [FK_CheckRecord_DeviceMST_DeviceId]
GO
ALTER TABLE [dbo].[DeviceMST]  WITH CHECK ADD  CONSTRAINT [FK_DeviceMST_DeviceTypeMST_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[DeviceTypeMST] ([TypeId])
GO
ALTER TABLE [dbo].[DeviceMST] CHECK CONSTRAINT [FK_DeviceMST_DeviceTypeMST_TypeId]
GO
