<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <system.webServer>

    <!-- 1. Compression settings (nếu IIS cho phép override ở mức site) -->
    <urlCompression doStaticCompression="true"
                    doDynamicCompression="true"
                    dynamicCompressionBeforeCache="true" />

    <httpCompression>
      <!-- scheme nén gzip -->
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <!-- <scheme name="br" dll="%Windir%\system32\inetsrv\br.dll" /> -->

      <!-- đảm bảo nén cho tất cả các MIME text và JS/JSON -->
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </staticTypes>

      <!-- bỏ filter để mọi user-agent đều được nén -->
      <dynamicCompression userAgentFilter="" />
    </httpCompression>

    <!-- 2. CORS headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://172.17.140.11:5000" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>

    <!-- 3. MIME types cho file tĩnh -->
    <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".js"  mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
    </staticContent>

    <!-- 4. Rewrite cho SPA React -->
    <rewrite>
      <rules>
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}"       pattern="^/.*\.[^/]+$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
